.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.firstBtn {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.secondBtn {
    background-color: gray;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.thirdBtn {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.fourthBtn {
    background-color: green;
    display: block;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}